[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
docstring-convention = google
max-complexity = 10
ignore = ANN101,B009,E203,E501,W503
max-line-length = 80
per-file-ignores = __init__.py: F401,tests/*:S101
application-import-names = oastodcat, tests
import-order-style = google
